<?xml version="1.0"?>
<robot name="forsym_tree">
    <link name="world"></link>
    <joint name="default_joint_name" type="link_type">
        <parent link="parent_link"/>
        <child link="child_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
        <limit effort="5" lower="0" upper="0" velocity="2.1750"/>
    </joint>

    <link name="default_link_name">
        <visual>
            <geometry>
                <cylinder length="0" radius="0"/>
            </geometry>
            <origin xyz="0 0 0.715" rpy="0 0 0"/>
            <material name="material_name">
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0" radius="0"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

</robot>
